.section {
  padding: 20px; /* Padding for each section */
  display: flex;
  flex-direction: column;
} 

.hero {
  background-color: #001f3f; /* Dark blue color */
  color: white; /* Text color */
  display: flex;
  justify-content: center; /* Center the content */
  align-items: center; /* Center vertically */
  height: 70vh; /* Full height section */
  position: relative; /* Positioning for the outlines */
}

.outer-container {
  border: 4px double white; /* Double white border */
  padding: 9rem; /* Space between outer border and inner content */
  border-radius: 10px; /* Optional: Rounded corners */
  width: 80%; /* Adjust the width as needed */
  text-align: center; /* Center text */
}


.title {
  margin: 0; /* Remove default margin */
  font-size: 2.5rem; /* Title size */
}

.watch-button {
  font-size: 16px; /* Button text size */
  background-color: cyan; /* Button color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer on hover */
  padding:20px 30px;
  margin-top: 20px; /* Space above the button */
}

.watch-button:hover {
  background-color: #00bcd4; /* Darker cyan on hover for feedback */
}

.info {
  background-color: gray; /* Gray color */
  color: black; /* Text color for better contrast */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:4rem;
}
.col {
  display: flex;
  flex-direction: column;
  
}
.col h2{
  margin-bottom: 0;
}
.col p{
 text-align: justify;
 
}

.info1{
  display: flex;
  justify-content: center ;
}
.info2{
  display: flex;
  justify-content: center;
}

.last{
  background-color: #001f3f; /* Dark blue color */
  color: white; /* Text color */
}
